<h2>Recent Posts</h2>
<hr>
<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-body">
  <%= link_to post.title, post %>
  <p>
    posted <%= time_ago_in_words(post.created_at) %> ago -  by
    <%= post.user.username %>

  </p>
  </div>
</div>
<% end %>

<%= link_to "Post something", new_post_path %>
